<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>792149054290-jc4ssb2es3c7sq99c3r0lm9qhf25lih2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.792149054290-jc4ssb2es3c7sq99c3r0lm9qhf25lih2</string>
	<key>API_KEY</key>
	<string>AIzaSyBB9uPI8afc7J1Heu9mMj9oF1c5Ax4RmTo</string>
	<key>GCM_SENDER_ID</key>
	<string>792149054290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SadmanAdib.Firebase-Chat-App</string>
	<key>PROJECT_ID</key>
	<string>fir-chat-app-39f5b</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-chat-app-39f5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792149054290:ios:f6acbfdcfa2445018fa08b</string>
</dict>
</plist>